
  button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    outline:none;
   
}


.floated {
    float:left;
    margin-right:5px;
  }

  
/* NAVBAR */
.navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar > li {
    float: right;
    /* border-right:1px solid black; */
  }
  
  .navbar > li:last-child {
    border-right: none;
  }
  
  .navbar > li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .navbar > .active {
    background-color: rgb(255, 255, 255);
  }


  .poo{
    animation-name: shake;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }

  @keyframes shake{
    0%{
      transform: rotate(0deg);
    }
    25%{
      transform: rotate(23deg);
    }
    50%{
      transform: rotate(0deg);
    }
    75%{
      transform: rotate(-23deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }


  .button{
    background-color: rgb(34, 100, 241);
    border-radius: 13px;
    color: white;
    padding: 10px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;

  }